@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600);
html,body
{
    background: #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}


footer
{
    bottom: 0;
    height: 30px;
    position: absolute;
    text-align: center;
    width: 100%;
}
footer p
{
    color: white;
    font-size: .7em;
    margin: 0;
    text-shadow: rgba(0,0,0,.6) 3px 3px 5px;

}
hgroup
{

    background: linear-gradient(0deg, #202020 0%,#444444 100%);
    border-bottom: 1.5px solid #999;
    border-right: 1.5px solid #999;
    border-top: 1.5px solid #999;
    box-shadow: rgba(0,0,0,.6) 3px 3px 5px;
    color: white;
    height: 50px;
    margin: 2em 0;
    width: 360px;
}

h1
{
    font-size: 20px;
    margin: 0;
    padding: 0.5em 1em;
    text-align: right;
}

input
{
    color: #666;
    display: block;
    height: 25px;
    margin: auto;
    width: 160px;
}
input[type=submit]
{
    background: rgba(208, 46, 16, 0.9);
    border-radius: 2px;
    border:0;
    bottom: -40px;
    text-shadow: 0 1px black;
    color: white;
    height: 30px;
    position: absolute;
    right: 20px;
    width: 60px;
}
label
{
    display: block;
    font-size: 14px;
    margin: 0.7em 0;
    padding-left: 5em;
}

#atras
{
    display: none;
    font-size: 14px;
    margin-left: 3.5em;
}

#atras a
{

    color: #3481b7;
    text-decoration: none;
}

#content
{
    display: inline-block;
    width: 100%;
}

#errorPass
{
    width: 250px;
    text-align: center;
    border-radius: 2px;
    margin-left: 6em;
    display: none;
    text-shadow: 0 1px black;
    color: white;
    background: rgba(208, 46, 16, 0.9);

}

#errorUser
{
    width: 250px;
    text-align: center;
    border-radius: 2px;
    margin-left: 6em;
    display: none;
    text-shadow: 0 1px black;
    color: white;
    background: rgba(208, 46, 16, 0.9);
}

#errorAutorizacion
{
    width: 250px;
    text-align: center;
    border-radius: 2px;
    margin-left: 6em;
    display: none;
    text-shadow: 0 1px black;
    color: white;
    background: rgba(208, 46, 16, 0.9);
    
}

#form
{
    background: linear-gradient(0deg, #202020 0%,#444444 100%);
    border: 2px solid black;
    color: white;
    display: inline-block;
    height: 175px;
    margin-left: 2.5em;
    position: relative;
    width: 360px;
}

#formRememberPass
{
    background: linear-gradient(0deg, #202020 0%,#444444 100%);
    border: 2px solid black;
    color: white;
    display: none;
    height: 175px;
    margin-left: 2.5em;
    position: relative;
    width: 360px;
}

#formRememberPass input[type=email]
{
    width: 200px;
    font-size: 15px;
}

#img
{
    display: inline-block;
    float: right;
    margin-right: 2.5em;
    margin-top: 0;

}
#img img
{
    height: 325px;
    margin: 1px 1px 0 1px;
    width: 795px;
}


#remember_pass
{
    font-size: 14px;
    margin-left: 3.5em;
}

#remember_pass a
{
    color: #3481b7;
    text-decoration: none;

}
