@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700,600');


html,body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	height: 100%;
	position: relative;
	background: darkseagreen;
}
a
{
	text-decoration: none;
}

footer
{
	bottom: 0px;
	height: 30px;
	left: 0;
	position: absolute;
	width: 100%;
	
}
footer p
{
	
	font-size: .7em;
	margin: 0;
	text-align: center;
}

h1
{
	padding: .5em 2em;

}
h1, h2, h3, p
{
	margin: 0;
	
}
header
{
	border: 1px solid black;
	height: 90px;
	position: relative;
	background: darkslategrey;
	color: white;
	text-shadow: black 2px 2px 2px;

}
header .logout_button
{
	background: #666666;
	border-color: black;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,.6) 5px 5px 5px;
	height: 30px;
	padding: .5em 1.5em 0 1.5em;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 50px;
	
}
header .logout_button p
{
	color: white;
}

input, textarea, select
{
	border-radius: 5px;
	color: dimgrey;
	
}

ul li ul
{
	display: none;

}

ul li ul li:hover
{
	background: darkseagreen;
}

nav
{
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid black;
	display: inline-block;
	position: fixed;	
	top: 150px;
	background: darkslategrey;


}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	border-top: 1px solid grey;
	padding: .5em .3em;
}

nav ul li:hover
{
	background: white; /*#6fa8dc;*/

}

nav ul li a
{
	color: white;
}

section
{
	border-radius: 10px;
	border: 2px dashed darkseagreen;
	box-shadow: rgba(0,0,0, .5) 5px 10px 20px;
	left: 18%;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 120px;
	width: 900px;
	background: darkslategrey;
	color: white;
}

.content
{
	border-left: 1px solid grey;
	border-right:  1px solid grey;
	height: 120%;
	left: 0;
	margin: 0 auto;
	overflow: hidden;	
	position: absolute;		
	right: 0;
	width: 1200px;
	background: white;
}

.data_item
{
	display: inline-block;
}

.data_company p
{
	padding-right: 3em;
}

.data_person
{
	padding: 2em 0;
}
.data_person p
{
	padding-right: 3.9em;
}

.item_inicio
{
	text-align: center;
}

.item_inicio h3, h2
{
	padding-top: 1em;
}

.personal_data
{
	padding: 2em 0 1em 8em;

}
.personal_data h3
{
	padding-bottom: 3em;
}

.nav_guardia
{
	width: 235px;
	text-align: center;
}
.nav_guardia input[type=button]
{
	background: #666666;
	border-radius: 5px;
	border:0;
	box-shadow: rgba(0,0,0,.6) 5px 5px 5px;
	color: white;
	margin-top: .5em;
}



